@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    min-height: 100vh;
    font-family: 'Montserrat'; 
}

.header-logo-text {
    font-weight: 600;
}

.btn-rounded {
    border-radius: 80px; 
}

.btn-primary{
background-color: rgb(189, 31, 31);
border: none;
}

.btn-primary:hover {
    background-color: #8b2138; /* Tom de vermelho mais escuro para hover */
    border-color: #080808; /* Cor da borda em hover */
}

/* Personaliza o estado de focus do botão primário */
.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.5); /* Cor da sombra do foco */
    outline: none; /* Remove o outline padrão */
}

.btn-active

.btn-secondary{
background-color: gray;
border: none;

}/* Estilos para ajustar a logo na navbar */
.navbar-logo {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}

/* Estilos para a imagem de perfil na sidebar */
.profile-img {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: 50px;
    border-radius: 50%; /* Faz a imagem ficar redonda */
    object-fit: cover; /* Ajusta a imagem para cobrir a área de forma proporcionada */
}
.sidebar {
    width: 230px;
    height: 100vh;
    background-color: rgb(56, 52, 53);
    padding: 20px;
    color: #ffffff;
    position: sticky;
    top: 0;
}

.sidebar a {
    color: #fafafa;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color:#746e6e;
    color: #fff;
    padding-left: 10px;
    transition: 0.3s;
}
.content {
    padding: 20px;
    flex: 1;
        padding: 20px;
        flex: 1;
        background-image: url(https://www.jomafe.pt/media/slidebanner/t/a/taco_chilli.amb.banner.jpg);
        background-position: center;
}

.content-screen{
width: 50%;
}

.sidebar-header p {
    font-size: 25px;
    font-weight: 600;
}

.sidebar-header {
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(177, 177, 177);
    ;
}

.sumario span{
font-size: 5px;
}

.gif {
    position: relative;
    left: 260px;
    width: 20px;
    margin-top: 150px;
}



