/* Estilos para o card de login */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    min-height: 100vh;
    font-family: 'Montserrat'; 
}

.card {
    background-color: rgba(255, 255, 255, 0.685);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 20px;
}

.form-label {
    color: #020202;
}

.btn-primary {
    background-color: #ff002b; /* Cor do botão (ajuste conforme necessário) */
    border-color: #ff002b;;
}

.btn-primary:hover {
    background-color: #aa1010; /* Cor do botão ao passar o mouse */
    border-color: #fcfcfc;
}
.mb-3{
    color: #020202;
}
/* Estilo geral para o container com imagem de fundo */
.d-flex {
    background-image: url(/images/login.jpg);
    background-size: cover; /* Faz com que a imagem cubra todo o container */
    background-position: center; /* Centraliza a imagem no container */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-attachment: fixed; /* Faz com que a imagem de fundo permaneça fixa durante o scroll */
}

.sign-up-text a{
text-decoration: none;
color: #ff002b;
font-weight: 600;
}
/* Ajustes para telas grandes (desktops) */
@media (min-width: 992px) {
    .d-flex {
        height: 100vh; /* Altura total da viewport */
    }
}

/* Ajustes para telas médias (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    .d-flex {
        height: 75vh; /* Ajusta a altura para se adequar à viewport em tablets */
    }
}

/* Ajustes para telas pequenas (smartphones) */
@media (max-width: 767px) {
    .d-flex {
        height: 50vh; /* Reduz a altura para se ajustar a telas menores */
    }
}

