@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --body-color: #ececee;
    --sidebar-color: #FFF;
    --primary-color: #ff2800;
    --primary-color-light: rgb(56, 52, 53);
    --toggle-color: #DDD;
    --text-color: #707070;
    --title-color: #2F5EAB;
    --input-color: #ececec;

    /* ======== Transition ======= */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;

    /* ======== Padding =========== */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    font-family: 'Montserrat';
}

.header-logo-text {
    font-weight: 600;
}

.navbar-logo {
    width: 50px;
    /* Ajuste o tamanho conforme necessário */
    height: auto;

}

.navbar {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
}

/* Estilos para a imagem de perfil na sidebar */
.profile-img {
    width: 70px;
    /* Ajuste o tamanho conforme necessário */
    height: 70px;
    border-radius: 50%;
    /* Faz a imagem ficar redonda */
    object-fit: cover;
    /* Ajusta a imagem para cobrir a área de forma proporcionada */
}



/* Estilos para a Sidebar */
.sidebar {
    width: 200px;
    height: calc(100vh - 67px);
    background-color: rgb(56, 52, 53);
    padding: 20px;
    color: #ffffff;
    position: sticky;
    top: 0;
}

.sidebar-header {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar h4 {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
    margin-left: 0px;
}

.sidebar a {
    color: #fafafa;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #746e6e;
    color: #fff;
    padding-left: 10px;
    transition: 0.3s;
}


/* Ajuste geral do texto ao lado da imagem */
.sidebar-header p {
    font-size: 15px;
    /* Tamanho do texto */
    font-weight: bold;
    /* Texto em negrito para dar destaque */
}

/* Ajuste para espaçamento e alinhamento */
.sidebar-header {
    padding: 10px;
    /* Espaçamento interno */
    align-items: center;
    /* Alinhamento vertical do texto e da imagem */
}


/* Estilos para o conteúdo principal */
.container {
    padding: 20px;
    color: #f7f8fa;

}

.content {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
}

.dashboard-container {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    width: 100%;
}

.left-column,
.right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.chart-box {
    flex: 2;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: -7px 4px 8px rgb(0 0 0)
}


/* Estilos básicos para info-box */
.info-box {
    background-color: rgb(56, 52, 53);
    ;
    /* Cor de fundo da caixa */
    border: 1px solid #0e0105;
    /* Borda cinza clara */
    border-radius: 8px;
    /* Bordas arredondadas */
    padding: 20px;
    /* Espaçamento interno */
    transition: all 0.3s ease;
    /* Transição suave para efeitos */
    min-height: 205px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: -7px 4px 8px rgb(0, 0, 0)
}

/* Efeito hover para info-box */
.info-box:hover {
    background-color: #746e6e;
    /* Cor de fundo ao passar o mouse */
    border-color: #000000;
    /* Cor da borda ao passar o mouse */
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    /* Sombra ao passar o mouse */
    transform: translateY(-5px);
    /* Move a caixa para cima */
}

.chart-box h4 {
    color: black;
}



.w-100 {
    background-image: url(/images/Website-Banner-Indian-Range-Teaser-1920-x-1080.png);
    background-size: cover;
    background-position: center;
}


/* Responsividade */
@media (max-width: 768px) {
    .container {
        margin-left: 0;
    }

    .dashboard-container {
        flex-direction: column;
    }

    .left-column,
    .right-column,
    .chart-box {
        flex: 1 1 100%;
    }
}